@layer reset {
	body,
	body *,
	:before,
	:after {
		all: unset;
		box-sizing: border-box;
	}

	button {
		cursor: pointer;
	}

	input[type='range'] {
		all: revert;
	}
}

body {
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
		'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
		'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
